@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 1.5;
    color: #585858;
    background-color: #EEEEEE;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
}

.img {
    display: block;
    max-width: 100%;  
    height: auto;
}

.container {
    padding: 0 15px;
    max-width: 1200px;  
    width: 100%;
    margin: 0 auto;

}

.btn {
    background-color: #3D5675;
    border-radius: 44px;
}


// header


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 61px;
  width: 100%;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 14px 44px rgba(84, 84, 84, 0.25);
  border-radius: 0px;

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      padding: 20px 0;
     flex-direction: column;

    }

}
  


}

.logo__img {
    width: 85px;
    height: auto;
}


 .nav__link {
     display: flex;

     @media screen and (max-width: 768px) {
         margin: 15px 0;
         display: none;
     }
 }

 .nav__list__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    
    letter-spacing: 1.96px;
    text-transform: uppercase;
    
    color: #011F3A;
     text-align: center;
     margin-right: 21px;
     text-decoration: none;
 }
 .nav__list__link.active {
    border-bottom: 1px solid #011F3A;
 }

 

 .nav__right__link {
     display: flex;
     align-items: center;
 }

 .right__cart__link {
     margin-right: 25px;
     text-decoration: none;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 18px;
     letter-spacing: 1.96px;
     text-transform: uppercase;

color: #011F3A;
@media screen and (max-width: 768px) {
    display: none;
}

 }


 .right__cart__link:last-child {
     margin-right: 0;
 }

//  BURGER

.header__menu__burger {
    display: none;
    .header__menu__button {
        width: 25px;
        height: 25px;
        background: url(img/burger/menu.png) no-repeat;
        background-size: cover;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate3d(-10px, -10px, 0px);
       
        }
        @media screen and (max-width: 768px) {
            display: block;
    }
    .mobile__nav__link {
        padding: 10px;
        display: none;
        position: fixed;
        right: 5px;
        top: 75px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        
        letter-spacing: 1.96px;
        text-transform: uppercase;
      
        color: #011F3A;
        background: #FFFFFF;
         box-shadow: 0px 14px 44px rgba(84, 84, 84, 0.25);
         border-radius: 0px;         
        @media screen and (max-width: 768px) {
            // display: none;
            flex-direction: column;
            align-items: flex-end;
        }
        .mobile__nav__list__link {
            display: block;
            text-decoration: none;
            margin-bottom: 10px;
        }
    
    .mobile__right__cart__link {
        display: block;
        text-decoration: none;
        margin-bottom: 8px;
    }
    .mobile__right__cart__link:last-child {
        margin-bottom: 0;
    }
    }


  

}


.intro {
    padding: 0 15px;
    background-color: #F2AE4D;
    background-size: cover;
    min-height: 689px;

     .intro__container {
         padding: 0 15px;
         max-width: 1440px;
         width: 100%;
         margin: 0 auto;
     }
    .intro__content {
        padding-top: 100px;
        padding-left: 85px;
        @media screen and (max-width: 320px) {
            padding-left: 0;
        }
}
    }
    .intro__body {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media screen and (max-width: 768px) {
            
        }
    }
    .intro__inner__body {
        max-width: 500px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
            align-items: center;
        }
    }
    .intro__title {
        max-width: 480px;
        margin-bottom: 33px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;

        color: #011F3A;
        @media screen and (max-width: 768px) {
            font-size: 35px;
            max-width: none;
        }
    }
    .intro__text {
        max-width: 277px;
        height: auto;
        margin-bottom: 14px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        /* or 160% */
        
        
        color: #011F3A;
        @media screen and (max-width: 768px) {
            max-width: 291px;
            font-size: 17px;
            margin-bottom: 20px;
        }
    }
    .intro__btn {
        padding: 19px 29px;
        border: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        
        letter-spacing: 1.96px;
        text-transform: uppercase;
        
        color: #FFFFFF;
    }
    .intro__inner__img {
    display: flex;
    height: auto;
    max-width: 100%;
}
    


.intro__footer {
    max-width: 100%;
    overflow: hidden;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: #fff;
    .inner__icon {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 320px) {
            justify-content: center;
            align-items: center;
        }
    }
    .intro__footer__icon {
        display: flex;
        align-items: center;
        @media screen and (max-width: 320px) {
            flex-direction: column;
        }
}

     .intro__footer__img {
         margin-right: 16px;
         @media screen and (max-width: 575px) {
             margin-right: 5px;
             width: 86px;
         }
     }      
    .intro__footer__text {
        max-width: 81px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        /* or 127% */

        letter-spacing: 0.6px;

        color: #A1A1A1;
        @media screen and (max-width: 320px) {
            font-style: 14px;
        }
    }
    }



    //    custom
// ===============


   .custom {
       background-color: #EEEEEE;
       padding: 60px 0;
       .custom__title {
           margin-bottom: 57px;
           display: flex;
           justify-content: space-between;
           @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
           }
          }
          .customize__title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            /* identical to box height */
            color: #011F3A;
            @media screen and (max-width: 768px) {
                margin-bottom: 15px;
            }
            @media screen and (max-width: 320px) {
                font-size: 25px;
            }
          }
          .custom__btn {
            padding: 13px 25px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            border: 0;
            
            text-align: center;
            letter-spacing: 1.96px;
            text-transform: uppercase;
            
            color: #FFFFFF;
            @media screen and (max-width: 320px) {
                font-size: 11px;
            }
          }

          .customize__block {
              display: flex;
              flex-wrap: wrap;
             align-items: baseline;
              background-color: #fff;
              @media screen and (max-width: 575px) {
                  align-items: stretch;
                  
              }
          }
          .customize__inner__block {
            width: 33.33333%;
            max-width: 400px;
            padding: 0 25px;
            border: 1px solid #ededed;
            min-height: 394px;
            @media screen and (max-width: 575px) {
                min-height: auto;
                display: flex;
                flex-direction: column;
                flex: 0 0 auto;
            }
            @media screen and (max-width: 320px) {
                padding: 0 19px;
                max-width: 100%;
                width: 100%;
            }
          }
          .customize__img {
              margin-bottom: 24px;
              display: block;
              max-width: 100%;
              height: auto;
          }
          .customize__inner__title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            /* identical to box height */
            
            letter-spacing: 0.36px;
            
            color: #011F3A;
          }
          .customize__text {
              display: inline-block;
              vertical-align: middle;
              max-width: 208px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            /* or 160% */
            color: #777777;
            @media screen and (max-width: 575px) {
                display: flex;
                flex: 1 0 auto;
            }
          }
          .customize__right {
            display: inline-block;
            vertical-align: top;
            float: right;
          }
          .customize__price {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            /* identical to box height, or 160% */
            
            text-align: right;
            
            color: #A1A1A1;
          }

          .customize__footer {
              padding: 50px;
              min-height: 140px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 320px) {
                padding: 30px;
                flex-direction: column;
            }
            .left {
                margin-right: 20px;
                text-decoration: none;
                font-family: 'Roboto';
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 24px;
                /* identical to box height, or 160% */
                
                
                color: #A1A1A1;
                @media screen and (max-width: 320px) {
                    margin-right: 0;
                    margin-bottom: 12px;
                }
            }
            .right {
                padding: 13px 25px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                /* identical to box height, or 129% */
                text-decoration: none;
                letter-spacing: 1.96px;
                text-transform: uppercase;
                border-radius: 44px;
                background-color: #fff;
                color: #3D5675;
            }
          }

        
        
   }



.design {
    padding: 60px 0;
    @media screen and (max-width: 320px) {
        padding: 0;
    }
.design__block {
    padding: 88px 50px;
    text-align: center;
    background-color: #72BDA3;
    @media screen and (max-width: 320px) {
        padding: 45px 20px;
    }
    .design__title {
        margin-bottom: 45px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 41px;
        /* identical to box height, or 128% */

        text-align: center;

        color: #011F3A;
        @media screen and (max-width: 320px) {
            font-size: 26px;
        }
    }
    .design__inner__title {
        margin-bottom: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        /* identical to box height, or 128% */

        text-align: center;
        letter-spacing: 0.36px;

        color: #011F3A;
    }
    .design__text {
        display: inline-block;
         max-width: 197px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        /* or 160% */

        text-align: center;

        color: #3D5675;
    }
    .design__inner__block {
        margin-bottom: 74px;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 320px) {
            margin-bottom: 53px;
            flex-direction: column;
        }
    }
    .design__item {
        height: auto;
        max-width: 300px;
    }
}
    .design__img {
     display: block;
     max-width: 100%;
     height: auto;
     width: 100%;
   }
   .design__btn {
       display: inline-block;
    text-align: center;
    padding: 13px 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    
    text-align: center;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    background-color: #3D5675;
    border-radius: 44px;
    color: #FFFFFF;
    
       text-decoration: none;
   }
}

.advantage {
    padding: 70px 42px 140px;
     @media screen and (max-width: 320px) {
        padding: 70px 42px 60px;
     }
    .advantage__title {
        margin-bottom: 82px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
        /* identical to box height, or 128% */
        color: #011F3A;
       @media screen and (max-width: 320px) {
        margin-bottom: 35px;
        font-size: 23px;
       }
    }
    .advantage__inner__block {
        max-width: 100%;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 320px) {
            flex-direction: column;
        }
    }
    .advantage__item {
        max-width: 254px;
        width: 100%;
        height: auto;
    }
    .advantage__img {
        margin-bottom: 54px;
        display: block;
        max-width: 100%;
        height: auto;
    }
    .advantage__inner__title {
        margin-bottom: 12px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        /* identical to box height, or 128% */

        letter-spacing: 0.36px;

        color: #011F3A;
        @media screen and (max-width: 320px) {
            font-size: 15px;
            text-align: center;
        }
    }
    .advantage__text {
        max-width: 251px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        /* or 160% */


        color: #A1A1A1;
        @media screen and (max-width: 320px) {
         text-align: center;
        }
    }
}

.request__block {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    padding: 110px 0;
    background-color: #FFCA3A;
    @media  screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
    @media screen and (max-width: 320px) {
        padding: 30px 0;
    }

    .request__col {
        padding: 0 120px;
        display: flex;
        flex-direction: column;
        max-width: 600px;
        border-right: 1px solid rgba(161, 161, 161, 0.4);
        align-items: center;
        @media screen and (max-width: 768px) {
            border-right: 0;
            margin-bottom: 30px;
        }
        @media screen and (max-width: 320px) {
            padding: 0 25px;
        }
    }
    .request__col:last-child {
        border-right: 0;
    }


    .request__img {
        margin-bottom: 24px;
        display: block;
        max-width: 210px;
        width: 100%;
        height: auto;

    }
    .request__title {
        margin-bottom: 14px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height, or 150% */
        
        text-align: center;
        
        color: #011F3A;
    }
    .request__text {
        margin-bottom: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        /* or 160% */
        
        text-align: center;
        
        color: #3D5675;
        
    }
    .request__btn {
        padding: 13px 25px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        text-decoration: none;
        letter-spacing: 1.96px;
        text-transform: uppercase;
        border-radius: 44px;
        background-color: #fff;
        color: #3D5675;
        @media screen and (max-width: 768px) {
            
        }
        @media screen and (max-width: 1024px) {
            padding: 11px 18px;
        }
    }
}



.merchants {
    max-width: 100%;
    padding: 60px 0;
    @media screen and (max-width: 320px) {
        padding: 30px 0;
    }
    .merchants__title {
        margin-bottom: 59px;
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        /* identical to box height */

        text-align: center;

        color: #011F3A;
        @media screen and (max-width: 320px) {
            font-size: 28px;
        }
    }
    .general__blog {
        background-color: #fff;
        max-width: 100%;
        @media screen and (max-width: 320px) {
            display: flex;
            flex-direction: column;
        }
    }
    .browser__block {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: 100%;
        min-height: 314px;
        background-color: #fff;
        @media screen and (max-width: 320px) {
            margin-bottom: 15px;
            flex-direction: column;
        }
    }
    .browser__img {
        margin-bottom: 20px;
        display: block;
        max-width: 100%;
        height: 70px;
        
    }
    .browser__img:last-child {
        border: none;
    }
    
    .img__after {
        display: flex;
        transform: rotate(90deg);
        width: 70px;
        background-color: #eee;
        border: 1px solid #eee;
        @media screen and (max-width: 320px) {
            border: none;
        }
    }
   .stars__block {
       display: inline-block;
       text-align: center;
   }
   




   .stars__number {
       vertical-align: super;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    letter-spacing: 0.36px;
    
    color: #011F3A;
   }
       
}




.blog {
    margin-bottom: 55px;
    max-width: 100%;
display: flex;
background-color: #fff;
@media  screen and (max-width: 768px) {

    flex-direction: column;
    align-items: center;
}

.blog__photo {
    width: 50%;
    display: inline-flex;
    @media screen and (max-width: 768px) {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
    
    .blog__inner__photo {
        display: block;
        max-width: 100%;
        height: auto;
        overflow: hidden;
    }


    
    .blog__story {
        padding: 60px 100px;
        width: 50%;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 768px) {
            padding: 30px 0;
            order: 2;
        }
        @media screen and (max-width: 320px) {
            padding-bottom: 0;
        }
    }
    .blog__title {
        margin-bottom: 10px;
        max-width: 395px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        /* or 133% */


        color: #011F3A;
        @media screen and (max-width: 320px) {
            font-size: 21px;
            margin-bottom: 20px;
        }
    }
    .blog__jesse {
        display: flex;
        align-items: center;
        @media screen and (max-width: 768px) {
            // flex-direction: column;
            // align-items: baseline;
        }
        @media screen and (max-width: 320px) {
            flex-direction: column;
            text-align: center;
        }
    }
    .blog__jesse__photo {
        margin-right: 10px;
        @media screen and (max-width: 768px) {
            margin-bottom: 10px;
        }
    }
    .blog__name {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #011F3A;
    }

    .blog__text {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        /* identical to box height, or 160% */
        
        
        color: #A1A1A1;
    }

    .blog__name__text {
        margin-right: 18px;
        @media screen and (max-width: 768px) {
            margin-bottom: 10px;
        }
    }

    .blog__btn {
        padding: 13px 25px;
        display: flex;
        align-items: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        text-decoration: none;
        letter-spacing: 1.96px;
        text-transform: uppercase;
        background: #F2F2F2;
        border-radius: 44px;
        color: #3D5675;
        @media screen and (max-width: 768px) {
            white-space: nowrap;
        }
    }

    
  
   
}





.get__block {
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    @media screen and (max-width:320px) {
        margin-bottom: 50px;
        
    }
    .get__block__title {
        margin-bottom: 55px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 31px;
        line-height: 36px;
        text-align: center;

        color: #011F3A;
        @media screen and (max-width:320px) {
            font-size: 28px;
        }
    }
    .get__block__link {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:320px) {
            padding: 0 20px;
            flex-direction: column;
        }
    }
    .get__link {
        padding: 13px 25px;
        border-radius: 44px;
        text-decoration: none;
    }
    .btn__design {
        margin-right: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        background-color: #3D5675;
        letter-spacing: 1.96px;
        text-transform: uppercase;

        color: #FFFFFF;
        @media screen and (max-width: 320px) {
            font-size: 11px;
            width: 100%;
            text-align: center;
        }
    }
    .btn__product {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        background-color: #fff;
        letter-spacing: 1.96px;
        text-transform: uppercase;

        color: #3D5675;
       @media screen and (max-width: 320px)  {
        //    width: 100%;
        font-size: 11px;
           margin-top: 12px;
           width: 100%;
           text-align: center;
       }

    }

}





.footer {
    padding: 60px 15px;
    .footer__logo {
        margin-bottom: 15px;
    }
    .footer__content {
        margin: 0 -12px;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        // justify-content: space-around;
        @media screen and (max-width: 768px) {
           display: flex;
           flex-direction: column;
           align-items: center;
        }
    }
    .footer__item {
        margin: 0 12px;
        padding: 0 30px;
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
            padding: 0 10px;
        }
        @media screen and (max-width: 320px) {
            margin: 0;
           
        }
    }
    .footer__list {
        margin-bottom: 10px;
    }
    .footer__list__link {
        margin-bottom: 17px;
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        /* identical to box height */


        color: #3D5675;
    }

    .footer__list__link:last-child {
     margin-bottom: 0;
    }

    .footer__icon {
        margin-bottom: 10px;
        @media screen and (max-width: 320px) {
            display: flex;
        }
    }


    .footer__icon__svg {
        margin-right: 11px;
        width: 18px;
        display: inline-block;
        max-width: 100%;
        height: auto;

    }

    .footer__all__item__list {
        display: flex;
        @media screen and (max-width: 575px) {
            display: flex;
        }
    }





    .form__column {
        display: flex;
        flex-direction: column;
    }


    .form__text {
        margin-bottom: 15px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        /* identical to box height */


        color: #3D5675;

    }

    .input {
        margin-bottom: 12px;
        padding: 9px 18px;
        border: 0;
        border-radius: 44px;
    }

   .form__link {
       padding: 11px 30px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    border-radius: 44px;
    text-align: center;
    background-color: #3D5675;
    color: #FFFFFF;
   }

   

    
}








